.homepage {
  margin-bottom: 24px;
  background: linear-gradient(90deg, #00c6ff 0%, #0072ff 100%);
  color: white;
}

.github {
  border: 1px rgb(224, 224, 224) solid;
  background: white;
  color: theme('colors.gray.600');
}
