@reference "./globals.css";

.article {
  @apply px-6 leading-loose text-black md:px-8 lg:px-12;
}

.article p,
.article pre,
.article ul,
.article ou,
.article blockquote {
  @apply mb-2;
}

.article img {
  @apply mx-auto my-8 w-auto;
  max-height: 400px;
}

.article h2 {
  @apply relative mt-12 mb-3 pt-4 text-2xl font-bold text-gray-900;
}

.article h2::before {
  position: absolute;
  content: '';
  width: 32px;
  height: 4px;
  border-radius: 4px;
  background: var(--theme-color);
  top: 0;
  left: 0;
}

.article h3 {
  @apply mt-8 mb-4 text-xl font-bold;
}

.article h4 {
  @apply mt-6 mb-2 text-lg font-bold;
}

.article ul {
  @apply list-disc pl-7;
}

.article li::marker {
  @apply text-gray-500;
}

.article ol {
  @apply list-decimal pl-7;
}

.article u {
  background: linear-gradient(transparent 70%, yellow 70%);
  text-decoration: none;
}

.article code {
  @apply rounded bg-gray-200 px-1 py-1;
  font-size: 0.8em;
}

.article pre {
  @apply max-w-lg overflow-x-auto rounded bg-gray-800 p-4 leading-tight xl:max-w-3xl;
}

.article pre code {
  @apply bg-transparent p-0 text-white;
}

.article blockquote {
  @apply my-2 border-l-2 border-gray-500 bg-gray-50 py-1 pr-1 pl-4 leading-normal text-gray-500;
}
