@reference "./globals.css";

.article {
  @apply px-6 leading-loose text-gray-800 md:px-8 lg:px-12;
}

.article p,
.article pre,
.article blockquote {
  @apply mb-2;
}

.article img {
  @apply w-auto mx-auto my-8;
  max-height: 800px;
}

.article h2 {
  @apply relative pt-6 mt-12 mb-6 text-3xl font-bold text-gray-700;
}

.article h2::before {
  position: absolute;
  content: '';
  width: 36px;
  height: 4px;
  border-radius: 4px;
  background: var(--theme-color);
  top: 0;
  left: 0;
}

.article h3 {
  @apply mt-6 mb-4 text-xl font-bold text-gray-700;
}

.article h4 {
  @apply mt-5 mb-2 text-lg font-bold;
}

.article ul {
  @apply pl-6 list-disc;
}

.article li::marker {
  @apply text-gray-500;
}

.article ol {
  @apply pl-6 list-decimal;
}

.article u {
  background: linear-gradient(transparent 70%, yellow 70%);
  text-decoration: none;
}

.article code {
  @apply px-1 py-1 bg-gray-200 rounded;
  font-size: 0.8em;
}

.article pre {
  @apply max-w-lg p-4 overflow-x-auto leading-tight bg-gray-800 rounded xl:max-w-3xl;
}

.article pre code {
  @apply p-0 text-white bg-transparent;
}

.article blockquote {
  @apply py-3 pl-4 pr-1 text-gray-600 border-l-4 border-gray-500 bg-gray-50;
}
